.product-img img {
	transition: transform 0.3s ease;
  }
  
  .product-img img:hover {
	transform: scale(1.1);
  }
  
  .actions-btn a {
	transition: background-color 0.3s ease;
  }
  
  .actions-btn a:hover {
	background-color: #ba135d; /* Cor de hover personalizada */
  }
  
  .pagination-ul a {
	transition: background-color 0.3s ease;
  }
  
  .pagination-ul a:hover {
	background-color: #
  }